<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Es.Udc.DotNet.PracticaIS.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Es.Udc.DotNet.PracticaIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>



  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Users\ç\IS\PracticaIS\log\PracticaIS.log" header="" footer="" formatter="Simple Log Format" traceOutputOptions="None" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="[{timestamp}] [{category}] ({severity}) - {message} " name="Simple Log Format" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Transaction">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="OpinadorEntitiesContainer" connectionString="metadata=res://*/OpinadorEntityDataModel.csdl|res://*/OpinadorEntityDataModel.ssdl|res://*/OpinadorEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Ç-PC\SQLEXPRESS;Initial Catalog=opinador;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!-- Cultural preferences of the Web site -->
    <globalization culture="auto" uiCulture="auto" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!-- The <authentication> section enables configuration of the security 
         authentication mode used by ASP.NET to identify an incoming user.  
         
         cookieless valid values : 
            "True" or "UseUri"      ==> AuthTicket included in URL (UrlRewriting)
            "False" or "UseCookies" ==> AuthTicket included in a local Cookie
            "AutoDetect"            ==> Cookies will be used if client browsers
                                        allows it
         -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/Pages/User/Authentication.aspx" timeout="30" path="/"
             defaultUrl="~/Pages/MainPage.aspx" cookieless="AutoDetect" />
    </authentication>
    <!-- Session will not use cookies if the client does not allow it. 
         
         cookieless valid values : 
            "True" or "UseUri"      ==> SessionID included in URL (UrlRewriting)
            "False" or "UseCookies" ==> SessionID included in a local Cookie
            "AutoDetect"            ==> Cookies will be used if client browsers
                                        allows it
    -->
    <sessionState cookieless="UseCookies" timeout="30" />
    <!-- The <customErrors> section enables configuration of what to do 
         if/when an unhandled error occurs during the execution of a request.
    
         Specifically, it enables developers to configure HTML error pages 
         to be displayed in place of a error stack trace.
         
         Mode = "On"         Set custom error page for all users
         Mode = "Off"        Default page error (exception info) will be used
         Mode = "RemoteOnly" Set custom error page for remote clients
                             Local requests will show the exception details
         -->
    <!-- InternalError is showed when an Unhandled exception is raised -->
    <customErrors mode="Off" defaultRedirect="~/Pages/Errors/InternalError.aspx">
    </customErrors>
    <!-- This section denies access to all files in this application except 
         for those that you have not explicitly specified by using another 
         setting. -->
    <authorization>
      <deny users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>

  <!-- [BEGIN] Unity Application Block Configuration -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <!-- <alias alias="aliasName" type="Class FullName, Assembly Name" /> -->
    <alias alias="IComentarioDao" type="Es.Udc.DotNet.PracticaIS.Model.ComentarioDao.IComentarioDao, PracticaIS.Model" />
    <alias alias="IEtiquetaDao" type=" Es.Udc.DotNet.PracticaIS.Model.EtiquetaDao.IEtiquetaDao, PracticaIS.Model" />
    <alias alias="IFavoritoDao" type=" Es.Udc.DotNet.PracticaIS.Model.FavoritoDao.IFavoritoDao, PracticaIS.Model" />
    <alias alias="IUserProfileDao" type=" Es.Udc.DotNet.PracticaIS.Model.UserProfileDao.IUserProfileDao, PracticaIS.Model" />
    <alias alias="IValoracionDao" type=" Es.Udc.DotNet.PracticaIS.Model.ValoracionDao.IValoracionDao, PracticaIS.Model" />
    <alias alias="ComentarioDaoEntityFramework" type="Es.Udc.DotNet.PracticaIS.Model.ComentarioDao.ComentarioDaoEntityFramework, PracticaIS.Model" />
    <alias alias="EtiquetaDaoEntityFramework" type="Es.Udc.DotNet.PracticaIS.Model.EtiquetaDao.EtiquetaDaoEntityFramework, PracticaIS.Model" />
    <alias alias="FavoritoDaoEntityFramework" type="Es.Udc.DotNet.PracticaIS.Model.FavoritoDao.FavoritoDaoEntityFramework, PracticaIS.Model" />
    <alias alias="UserProfileDaoEntityFramework" type="Es.Udc.DotNet.PracticaIS.Model.UserProfileDao.UserProfileDaoEntityFramework, PracticaIS.Model" />
    <alias alias="ValoracionDaoEntityFramework" type="Es.Udc.DotNet.PracticaIS.Model.ValoracionDao.ValoracionDaoEntityFramework, PracticaIS.Model" />

    <alias alias="IUserService" type="Es.Udc.DotNet.PracticaIS.Model.UserService.IUserService, PracticaIS.Model" />
    <alias alias="UserService" type="Es.Udc.DotNet.PracticaIS.Model.UserService.UserService, PracticaIS.Model" />
    <alias alias="IOpinadorService" type="Es.Udc.DotNet.PracticaIS.Model.OpinadorService.IOpinadorService, PracticaIS.Model" />
    <alias alias="OpinadorService" type="Es.Udc.DotNet.PracticaIS.Model.OpinadorService.OpinadorService, PracticaIS.Model" />
    
    <alias alias="ObjectContext" type="System.Data.Objects.ObjectContext, System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />


    <container>

      <!-- ************   Mappings for Bussiness Objects ************* -->

      <register type="IComentarioDao" mapTo="ComentarioDaoEntityFramework"></register>
      <register type="IEtiquetaDao" mapTo="EtiquetaDaoEntityFramework"></register>
      <register type="IFavoritoDao" mapTo="FavoritoDaoEntityFramework"></register>
      <register type="IValoracionDao" mapTo="ValoracionDaoEntityFramework"></register>
      <register type="IUserProfileDao" mapTo="UserProfileDaoEntityFramework"></register>

      <extension type="Interception" />

      <register type="IUserService" mapTo="UserService">
        <interceptor type="InterfaceInterceptor"/>
      </register>
      <register type="IOpinadorService" mapTo="OpinadorService">
        <interceptor type="InterfaceInterceptor"/>
      </register>


      <!-- Object Context -->
      <register type="ObjectContext" mapTo="ObjectContext">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" type="System.String">
            <value value="metadata=res://*/OpinadorEntityDataModel.csdl|res://*/OpinadorEntityDataModel.ssdl|res://*/OpinadorEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;              Data Source=localhost\SQLExpress;&#xD;&#xA;              Initial Catalog=opinador;&#xD;&#xA;              Persist Security Info=True;&#xD;&#xA;              Integrated Security=True;&#xD;&#xA;              MultipleActiveResultSets=True&quot;" />
          </param>
        </constructor>
      </register>



    </container>

  </unity>


  <!-- This section gives the unauthenticated user access to the register page
       only. -->
  <location path="Pages/User">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ShowPuntuations.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/User/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to the error page -->
  <location path="Pages/Errors/InternalError.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to the styles -->
  <location path="css/Styles.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to the Main Page -->
  <location path="Pages/MainPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SearchProducts.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ShowProducts.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ShowComments.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
 
  <!-- This section gives the unauthenticated user access to the trace.axd -->
  <location path="trace.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <Es.Udc.DotNet.PracticaIS.Web.Properties.Settings>
      <setting name="Opinador_providerInvariantName" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="Opinador_connectionString" serializeAs="String">
        <value>Data Source=localhost\SQLExpress; Initial Catalog=opinador; Integrated Security=True</value>
      </setting>
      <setting name="ShowComments_count" serializeAs="String">
        <value>15</value>
      </setting>
    </Es.Udc.DotNet.PracticaIS.Web.Properties.Settings>
  </applicationSettings>
</configuration>
